/* Write your CSS here! */
html, body {
    background-color: grey;
    font-size: 10px;       /* base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; 
}

header, #main-heading {
    color: red;
}

body {
    width: 600px;
    margin: 8px auto;
    display: block;
    background-color: rgba(255, 247, 0, 0.86);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0 auto;
    padding: 20px 0;
    color: #5a009fe1;
    text-shadow: 3px 3px 1px black;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p, #test-p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

p.fun-paragraph {
    color: green;
}

img {              /*images are inline elements*/
    display: block;   /*apply block behavior*/
    margin: 0 auto;
}

div {
    display: flex;
}

